/*************************
*******Cart CSS******
**************************/

#do_action {
    margin-bottom: 50px;
}

.breadcrumbs {
    position: relative;
}

.breadcrumbs .breadcrumb {
    background: transparent;
    margin-bottom: 75px;
    padding-left: 0;
}

.breadcrumbs .breadcrumb li a {
    background: var(--main-color);
    color: #FFFFFF;
    padding: 3px 7px;
}

.breadcrumbs .breadcrumb li a:after {
    content: "";
    height: auto;
    width: auto;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main-color);
    position: absolute;
    top: 11px;
    left: 48px;

}

.breadcrumbs .breadcrumb > li + li:before {
    content: " ";
}

#cart_items .cart_info {
    border: 1px solid #E6E4DF;
    margin-bottom: 50px
}


#cart_items .cart_info .cart_menu {
    background: var(--main-color);
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#cart_items .cart_info .table.table-condensed thead tr {
    height: 51px;
}


#cart_items .cart_info .table.table-condensed tr {
    border-bottom: 1px solid #F7F7F0
}

#cart_items .cart_info .table.table-condensed tr:last-child {
    border-bottom: 0
}

.cart_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
}


#cart_items .cart_info .image {
    padding-left: 30px;
}


#cart_items .cart_info .cart_description h4 {
    margin-bottom: 0
}

#cart_items .cart_info .cart_description h4 a {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;

}

#cart_items .cart_info .cart_description p {
    color: #696763
}


#cart_items .cart_info .cart_price p {
    color: #696763;
    font-size: 18px
}


#cart_items .cart_info .cart_total_price {
    color: var(--main-color);
    font-size: 24px;
}

.cart_product {
    display: block;
    margin: 15px -70px 10px 25px;
}
.cart_product img{
    width: 80px;
    height: 80px;
}
.cart_quantity_button #quantity,#quantity1,#quantity2{
    width: 46px;
    height: 28.85px;
    text-align: center;

}
.cart_quantity_button a {
    background: #F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
}


.cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}


.cart_delete {
    display: block;
    margin-right: -12px;
    overflow: hidden;
}


.cart_delete a {
    background: #F0F0E9;
    color: #FFFFFF;
    padding: 5px 7px;
    font-size: 16px
}

.cart_delete a:hover {
    background: var(--main-color)
}


.bg h2.title {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}
.heading{
    display: flex;
    justify-content: space-between;
}
.heading h3 {
    color: #363432;
    font-size: 16px;
    margin-left: 12px;
    font-family: 'Roboto', sans-serif;
}

.heading .change_address {
    margin-top: 12px;
    color: var(--main-color);
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}
.chose_area .user_infor,.user_address {
    display: flex;
    font-size: 16px;
    margin-left: 16px;
}
.chose_area .user_infor .filter-price-range-filter__range-line{
    padding: 0 6px;
    margin-left:12px;
    height: 18px;
}
.discount_header{
    margin-top:24px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}
.discount_header .discount{
    color: #363432;
    margin-left: 12px;
    font-weight: 500;
    font-size: 16px;

}
.discount_header .number_of_discount{
    margin-top: 12px;
    color: lightgrey;

}
.discount_area i{
    color: var(--main-color);
    cursor: pointer;
    margin: 12px 12px;
}
.temp_price, .discount_checkout{
    display: flex;
    justify-content: space-between;
}
.filter-price-range-filter__range-line-checkout{
    border-top: 1px solid lightgray;
}
.sum_price{
    margin-top:12px;
    display: flex;
    justify-content: space-between;
}
.sum_price .no_product{
    color: var(--main-color);

}
.total_area .checkout_button .checkout{
    background-color: var(--main-color);
    border: none;
    padding: 12px 12px;
    margin-top: 24px;
    width: 100%;
    margin-left: 12px;
}
.checkout_calculate .vat{
    text-align: right;
}
#do_action .total_area {
    padding-bottom: 18px !important;
}

#do_action .total_area, #do_action .chose_area {
    border: 1px solid #E6E4DF;
    color: #696763;
    padding: 30px 25px 30px 0;
    margin-bottom: 80px;
}

.total_area span {
    float: right;
}

.total_area ul li {
    background: #E6E4DF;
    color: #696763;
    margin-top: 10px;
    padding: 7px 20px;
}
.temp_price, .discount_checkout,.sum_price{
    margin-left: 12px;
}

.user_option label {
    color: #696763;
    font-weight: normal;
    margin-left: 10px;
}


.user_info {
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    overflow: hidden;
}

.user_info label {
    color: #696763;
    display: block;
    font-size: 15px;
    font-weight: normal;

}

.user_info .single_field {
    width: 31%
}

.user_info .single_field.zip-field input {
    background: transparent;
    border: 1px solid #F0F0E9
}

.user_info > li {
    float: left;
    margin-right: 10px
}

.user_info input, select, textarea {
    background: #F0F0E9;
    border: 0;
    color: #696763;
    padding: 5px;
    width: 100%;
    border-radius: 0;
    resize: none
}

.user_info select:focus {
    border: 0
}


.chose_area .update {
    margin-left: 40px;
}

.update, .check_out {
    background: var(--main-color);
    border-radius: 0;
    color: #FFFFFF;
    margin-top: 18px;
    border: none;
    padding: 5px 15px;
}

.update {
    margin-left: 40px;
}

.check_out {
    margin-left: 20px
}


/*************************
*******checkout CSS******
**************************/

.step-one {
    margin-bottom: -10px
}

.register-req, .step-one .heading {
    background: none repeat scroll 0 0 #F0F0E9;
    color: #363432;
    font-size: 20px;
    margin-bottom: 35px;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
}

.checkout-options {
    padding-left: 20px
}


.checkout-options h3 {
    color: #363432;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.checkout-options p {
    color: #434343;
    font-weight: 300;
    margin-bottom: 25px;
}

.checkout-options .nav li {
    float: left;
    margin-right: 45px;
    color: #696763;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.checkout-options .nav label {
    font-weight: normal;
}

.checkout-options .nav li a {
    color: #FE980F;
    font-size: 18px;
    font-weight: normal;
    padding: 0
}

.checkout-options .nav li a:hover {
    background: inherit;
}

.checkout-options .nav i {
    margin-right: 10px;
    border-radius: 50%;
    padding: 5px;
    background: #FE980F;
    color: #fff;
    font-size: 14px;
    padding: 2px 3px;
}


.register-req {
    font-size: 14px;
    font-weight: 300;
    padding: 15px 20px;
    margin-top: 35px;

}

.register-req p {
    margin-bottom: 0
}


.shopper-info p,
.bill-to p,
.order-message p {
    color: #696763;
    font-size: 20px;
    font-weight: 300
}


.shopper-info .btn-primary {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    margin-right: 15px;
    margin-top: 20px;
}


.form-two, .form-one {
    float: left;
    width: 47%
}


.shopper-info > form > input,
.form-two > form > select,
.form-two > form > input,
.form-one > form > input {
    background: #F0F0E9;
    border: 0 none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-weight: 300
}

.form-two > form > select {
    padding: 10px 5px
}

.form-two {
    margin-left: 5%
}


.order-message textarea {
    font-size: 12px;
    height: 335px;
    margin-bottom: 20px;
    padding: 15px 20px;
}

.order-message label {
    font-weight: 300;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    font-size: 14px
}


.review-payment h2 {
    color: #696763;
    font-size: 20px;
    font-weight: 300;
    margin-top: 45px;
    margin-bottom: 20px
}

.payment-options {
    margin-bottom: 125px;
    margin-top: -25px
}

.payment-options span label {
    color: #696763;
    font-size: 14px;
    font-weight: 300;
    margin-right: 30px;
}

#cart_items .cart_info
.table.table-condensed.total-result {
    margin-bottom: 10px;
    margin-top: 35px;
    color: #696763
}

#cart_items .cart_info
.table.table-condensed.total-result tr {
    border-bottom: 0
}

#cart_items .cart_info
.table.table-condensed.total-result span {
    color: #FE980F;
    font-weight: 700;
    font-size: 16px
}

#cart_items .cart_info
.table.table-condensed.total-result
.shipping-cost {
    border-bottom: 1px solid #F7F7F0;
}

.header__search-input-wrap{
    flex:1;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    background: white;
}
.header__search-input{
    width: 100%;
    height:100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: lightgray;
    padding: 0 16px;
    border-radius:3px;
}
.header__search-btn{
    background-color: var(--main-color);
    border: none;
    height:34px;
    width: 60px;
    outline: none;
    border-radius:3px;
    margin-right: 3px;;
}
.header__search-btn:hover{
    background-color: var(--main-color);
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: white;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}    
/* Search History*/
.header__search-history{
position: absolute;
z-index: 100 !important; 
top: 100%;
left:0;
margin-top:2px;
width: 80%;
background-color: white;
border-radius: 2px;
box-shadow: 0 1px 5px rgb(189, 189, 189) ;
display:none;
}    
.header__search-history-heading{
margin: 6px 12px;
font-size: 1.4rem;
color: #999;
font-weight: 400;
}
.header__search-history-list{
 padding-left: 0;
 list-style: none;
 margin-bottom: 0;
 
}
/*xử lí bo góc cho phần tử cuối cùng bị trồi ra ngoài */
.header__search-history-list:last-child{
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
}
.header__search-history-item{
height: 38px;
padding: 0 12px;
}
.header__search-history-item:hover{
background-color: #fafafa;
}
.header__search-history-item a{
text-decoration: none;
font-size: 1.4rem;
line-height:38px;
color: lightgray;
display: block;
}    